---
import EmailForm from "../components/EmailForm.astro";
import type { ContactContentModel } from "../client";
import { GetContent } from "../utils/umbraco";

const model = await GetContent<ContactContentModel>("contact");
---

<section id="contacts" class="space-y-8 max-w-7xl mx-auto">
  <div class="subheader md:text-center">
    <p><span>// 04</span> Contacts</p>
    <h2>{model.properties?.heading}</h2>
  </div>
  <div class="grid gap-6 md:grid-cols-2">
    <div class="flex flex-col gap-4 justify-between md:pt-6">
      <div class="space-y-4">
        <b class="text-3xl font-bold">Get in Contact</b>
        <Fragment set:html={model.properties?.description?.markup}/>
      </div>
      <div class="space-y-4">
        <p><a href="mailto:@Model.ContactInfo.Email" target="_blank">@Model.ContactInfo.Email</a></p>
        <div id="Links" class="string-list-container flex flex-wrap gap-2">
          @foreach (var link in Model.ContactInfo.Links)
          {
            <div class="flex items-center gap-2">
              <div class="fill-primary-100 w-8">
                @Html.Raw(SvgUtils.SanitizeSvg(GetSvgPath(link)))
              </div>
              <a href="@link" target="_blank" class="capitalize">@LinkUtils.GetBrand(link)</a>
            </div>
          }
        </div>
      </div>
    </div>
    <div id="contactform">
      <EmailForm />
    </div>
  </div>
</section>
