---
import { BaseApiUrl } from "../utils/umbraco";
import FormLoader from "./forms/FormLoader.astro";
import FormResult from "./forms/FormResult.astro";
import "../styles/forms.css";
---

<form action={`${BaseApiUrl}/email/contact`} method="POST">
	<label>
		Name
    <input 
      type="text"
      id="name"
      name="name"
      placeholder="Firstname Lastname"
      required
    />
	</label>

	<label>
		Email
    <input 
      type="email" 
      id="email" 
      name="email" 
      placeholder="example@gmail.com"
      required
    />
	</label>

	<label>
		Subject
    <input 
      type="text" 
      id="subject"
      name="subject"
      placeholder="Cool website! 😎"
    />
	</label>

	<label>
		Message
    <textarea 
      id="message"
      name="message"
      required
      placeholder="The message..."
		></textarea>
	</label>

	<input type="text" id="honeypot" name="honeypot" class="hidden" />

	<hr />

  <!-- buttons -->
	<button type="submit" 
    class="primary">
		Send
	</button>
	<button type="submit" class="secondary">
		Clear
	</button>

  <FormLoader text="Sending email" />
  <FormResult 
    successMessage="Thank you for submitting the email! I will get back to you shortly." 
  />
</form>

