---
const currentYear = new Date().getFullYear();
---

<footer class="max-w-5xl mx-auto p-5 flex flex-col items-center sm:px-10">
  <p class="opacity-75">&copy; 2024-{currentYear} Saku Karttunen</p>
  <div class="flex gap-4 flex-wrap justify-center">
    <a href="/">Home</a>
    <a href="#expertise">Expertise</a>
    <a href="#skills">Skills</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#experience">Experience</a>
  </div>
</footer>
