---
interface Props {
  text: string;
}

const { text } = Astro.props;
---
<style is:inline>
form:not(.loading) .form-loader {
  display: none;
}
</style>

<!-- loading spinner -->
<div class="form-loader flex flex-col justify-center items-center absolute top-0 left-0 w-full h-full bg-primary/75">
  <p class="text-2xl">{ text }</p>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150"
    class="max-w-xs fill-transparent stroke-secondary">
    <path stroke-width="15" stroke-dasharray="300 385" stroke-dashoffset="0"
      d="M275 75c0 31-27 50-50 50-58 0-92-100-150-100-28 0-50 22-50 50s23 50 50 50c58 0 92-100 150-100 24 0 50 19 50 50Z">
      <animate attributeName="stroke-dashoffset" calcMode="spline" dur="2.25" values="685;-685"
        keySplines="0 0 1 1" repeatCount="indefinite"></animate>
    </path>
  </svg>
  <p>Hold on tight, sunshine</p>
</div>
