@using fullstack_portfolio.Models
@using fullstack_portfolio.Utils
@model Bio

<section id="aboutme" class="grid max-w-6xl mx-auto md:grid-cols-3">
  <div class="space-y-4 col-span-2">
    <div class="subheader">
      <p><span>// 01</span> About me</p>
      <h2>Who Am I?</h2>
    </div>
    <p>
      @Model.Description
    </p>
    <p>
      Thank you for visiting! If you have any further questions or would like to work with me, feel free to
      contact me through the <a href="#contactform">form</a> below, by 
      <a href="@Model.Email" class="email">email</a> or through my social media 
      <a href="#contactinfo">listed below</a>.
    </p>
    <p>Feel free to check out my CV!</p>
    <p><a 
      href="~/docs/saku-cv-2025.pdf"
      target="_blank"
      class="btn bg-secondary-600 w-max hover:bg-transparent outline-secondary-600 hover:outline hover:outline-2"
    >Download CV</a></p>
  </div>
  <div class="relative scale-150 hidden -z-10 md:block">
    <div class="w-full opacity-50 fill-primary-400 absolute top-1/2 -translate-y-1/2">
      @Html.Raw(SvgUtils.SanitizeSvg("wwwroot/images/sklogo.svg"))
    </div>
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-primary to-transparent"></div>
  </div>
</section>

<script defer>
  const emailLink = document.querySelector('a.email');
  emailLink.addEventListener('click', (e) => {
    e.preventDefault();
    const email = emailLink.href.split("/").pop();
    // copy to clipboard
    navigator.clipboard.writeText(email);
    // indicate that the email has been copied
    const originalText = emailLink.textContent;
    emailLink.textContent = "email copied!";
    setTimeout(() => {
      emailLink.textContent = originalText;
    }, 3000);
  });
</script>
