---
// make the status code 404 for now
Astro.response.status = 404;
---

<section class="space-y-6">
  <div class="subheader">
    <p><span>// 404</span> No template found</p>
    <h2>This page does not currently have content</h2>
  </div>
  <a href="/" class="button">Return to front page</a>
</section>
