---
import Nav from "../components/Nav.astro"
import MobileNav from "../components/MobileNav.astro"
import Footer from "../components/Footer.astro"
import UmbracoHotReload from "../components/UmbracoHotReload.astro"
import "../utils/extensions";

const isDev = import.meta.env.DEV;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Saku's Portfolio</title>
	</head>
	<body class="text-primary-100 bg-primary text-lg font-mono leading-relaxed min-w-[356px]">
    <Nav />
    <MobileNav />

    <main role="main" class="pb-20 min-h-[90svh] overflow-x-clip">
      <slot />
    </main>

    <Footer />

    { isDev && <UmbracoHotReload />}
	</body>
</html>
