@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: theme("colors.primary.DEFAULT");
  --primary-700: theme("colors.primary.700");
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow:
    0 0 0 0.1rem white,
    0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
  scrollbar-color: theme("colors.primary.400") transparent;
  scrollbar-width: thin;
}

body>main>*:not(.no-container) {
  @apply px-5 py-20 sm:px-10
}

.section-padding {
  @apply px-5 sm:px-10
}

/* import fonts from the wwwroot/fonts/ folder */
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("/fonts/montserrat_variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  /* prevent text not showing before font is loaded */
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/firacode_variable.ttf") format("truetype");
  font-weight: 300 700;
  font-style: monospace;
  /* prevent text not showing before font is loaded */
  font-display: swap;
}

.subheader {
  line-height: 1;
}

.subheader>h1,
.subheader>h2 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2.5rem, 8vw, 3rem);
  font-weight: bold;
  line-height: 1;
}

.subheader>p>span {
  color: theme("colors.secondary.400");
}

a:not(.btn):not(.no-underline) {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.3rem;
  text-decoration-color: theme("colors.secondary.400");
  @apply motion-safe:transition-all;
}

a:not(.btn):not(.no-underline):hover {
  text-decoration-color: theme("colors.secondary.700");
}

.btn {
  @apply py-2 px-4 rounded-md;
  font-weight: 600;
  display: block;
  min-width: max-content;
  text-align: center;

  @media (prefers-reduced-motion: no-preference) {
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.grid-pattern {
  --pattern-size: 35px;
  background-image: url("/images/grid-pattern.svg");
  background-size: var(--pattern-size);
  background-color: transparent;

  @media (prefers-reduced-motion: no-preference) {
    animation: pan 20s linear infinite;
  }
}

@keyframes pan {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(var(--pattern-size) * 10) calc(var(--pattern-size) * -10);
  }
}
